
@{
    ViewBag.Title = "Add_About";
    Layout = "~/Shared/_MyMaster.cshtml";
}

<div class="content-page">
    <!-- Start content -->
    <div class="content">

        <div class="">
            <div class="page-header-title">
                <h4 class="page-title">About</h4>

            </div>
        </div>

        <div class="page-content-wrapper ">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">

                            <div class="card-body">

                                <h5 class="header-title m-t-0"><small class="text-primary"><b>Please Enter About Information</b></small></h5>

                                <h4 style="text-align:right"> <a href="/About/Show_About" class="btn btn-outline-dark"><i class="fa fa-table"></i>View About Information</a></h4>
                                <hr />
                                <form class="" method="post" autocomplete="off" style="padding-bottom:70px;padding-top:20px">

                                    <div class="col-sm-12">
                                        <div class="m-t-20">
                                            <div class="form-group">
                                                <label>About Title</label>
                                                <input type="text" name="ATitle" class="form-control" style="border: 1px solid lightblue;border-radius:5px" required /><br />

                                            </div>
                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea name="ABody" class="form-control" rows="3" style="border: 1px solid lightblue;border-radius:5px" required></textarea>

                                            </div>

                                        </div>
                                        <br />

                                    </div>
                                    <div>
                                        <button type="submit" style="width:100%; font-size:16px;padding:10px;border-radius:10px" class="btn btn-primary waves-effect waves-light">
                                            <i class="fa fa-plus-circle"></i>
                                            Submit
                                        </button>

                                    </div>
                                </form>
                                <!-- end row -->

                            </div>
                        </div>
                    </div>
                </div>

                <!-- end row -->

            </div><!-- container-fluid -->

        </div> <!-- Page content Wrapper -->

    </div> <!-- content -->
</div>


